.calories-entry {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calories-entry-date,
.calories-entry-meal,
.calories-entry-quantity,
.calories-entry-calories {
  padding: 0 0.5rem;
  flex: 1;
}

.edit-button,
.delete-button {
  background: rgb(255, 72, 0);
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.delete-button {
  background-color: green;
}
