.edit-form {
  display: grid;
  grid-template-rows: 4fr 2fr;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.edit-input{
display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--colorlight);
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0 10px 0;
}

.edit-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.edit-buttons button {
  font: inherit;
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  border: 1px solid green;
  background-color: var(--colorlight);
  border-radius: 10px;
  margin-right: 1rem;
  font-weight: bold;
}

.edit-buttons button:hover {
  color: white;
  background-color: var(--color);
  font-weight: bold;
  opacity: 0.75;
}
