.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-entry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 46vw;
}
.filter-entry-meal,
.filter-entry-date {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  margin: 0 1vw;
}

.filter-entry-meal label,
.filter-entry-date label {
  font-size: 1.2rem;
  font-weight: bold;
  padding-right: 1rem;
}

.filter-entry-meal select,
.filter-entry-date input {
  width: 10vw;
  border: none;
  font-size: 1rem;
}
.filter-entry-meal select {
  text-align: left;
}

@media screen and (max-width: 1680px) {
  .filter-entry {
    width: 58vw;
  }
}

@media screen and (max-width: 1280px) {
  .filter-entry {
    width: 70vw;
  }

  .filter-entry-date input,
  .filter-entry-meal select {
    width: 18vw;
  }
}

@media screen and (max-width: 980px) {
  .filter-entry {
    width: 82vw;
  }
}

@media screen and (max-width: 736px) {
  .filter-entry {
    width: 92vw;
  }

  .filter-entry-meal,
  .filter-entry-date {
    padding: 0.5rem 1rem;
  }

  .filter-entry-meal label,
  .filter-entry-date label {
    font-size: 0.8rem;
  }

  .filter-entry-date input,
  .filter-entry-meal select {
    width: 25vw;
  }
}
