.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-entry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 46vw;
}

@media screen and (max-width: 1680px) {
  .filter-entry {
    width: 58vw;
  }
}

@media screen and (max-width: 1280px) {
  .filter-entry {
    width: 70vw;
  }
}

@media screen and (max-width: 980px) {
  .filter-entry {
    width: 82vw;
  }
}

@media screen and (max-width: 736px) {
  .filter-entry {
    width: 92vw;
  }
}
