.filter-entry-type {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 0 10px;
}

.filter-entry-type label {
  font-size: 1.2rem;
  font-weight: bold;
  padding-right: 1rem;
}

.filter-entry-type select {
  width: 10vw;
  border: none;
  font-size: 1rem;
}
.filter-entry-type select {
  text-align: left;
}

@media screen and (max-width: 1280px) {
  .filter-entry-type select {
    width: 18vw;
  }
}

@media screen and (max-width: 736px) {
  .filter-entry-type {
    padding: 0.5rem 1rem;
  }

  .filter-entry-type label {
    font-size: 0.8rem;
  }

  .filter-entry-type select {
    width: 25vw;
  }
}
