header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color);
  width: 100vw;
  height: 7vh;
}

.navbar-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.navbar-logo {
  cursor: pointer;
  margin-right: auto;
  color: white;
}

/* .navbar-links {
  list-style: none;
}

.navbar-links li {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  padding: 0 20px;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
}

.navbar-links li a:hover {
  color: green;
} */

.navbar-buttons button{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 0 10px;
}

.navbar-buttons button:hover{
  color: green;
}


@media screen and (max-width: 1680px) {
  .navbar-menu {
    width: 70vw;
  }
}

@media screen and (max-width: 1280px) {
  .navbar-menu {
    width: 80vw;
  }
}

@media screen and (max-width: 980px) {
  .navbar-menu {
    width: 80vw;
  }
}

@media screen and (max-width: 736px) {
  .navbar-menu {
    width: 90vw;
  }
}

@media screen and (max-width: 480px) {
}
