.add-entry {
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: 45vh;
}

.add-entry-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-entry-title h2 {
  font-size: 40px;
  color: white;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.add-entry-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-entry-input input {
  color: var(--color);
  font-size: 1.5rem;
  border: none;
  border-radius: 10px 0px 0px 10px;
  width: 43vw;
  padding: 1.2rem  0.5rem;
}

.add-entry-input button {
  color: var(--color);
  background: white;
  padding: 1.2rem  0.5rem;
  font-size: 1.5rem;
  white-space: nowrap;
  border: none;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  transition: all 0.3 ease;
}

.add-entry-input button:hover {
  color: white;
  background: var(--color);
}

@media screen and (max-width: 1680px) {
  .add-entry-input input {
    width: 50vw;
  }
}

@media screen and (max-width: 1280px) {
  .add-entry-input input,
  .add-entry-input button  {
    padding: 1rem  0.5rem;
  }
  
  .add-entry-input input {
    width: 60vw;
  }
}

@media screen and (max-width: 980px) {
  .add-entry-input input {
    width: 70vw;
  }
}

@media screen and (max-width: 736px) {
  .add-entry-input input {
    width: 80vw;
  }

  .add-entry-input input,
  .add-entry-input button  {
    font-size: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
}